import {${BusinessName}Form, ${BusinessName}Query, ${BusinessName}VO} from './types'
import {request} from "@/http/axios"

/**
 * 查询${functionName}列表
 * @param query
 * @returns {*}
 */

export function getSys${BusinessName}ListApi(query?: ${BusinessName}Query) {
    return request<ApiResponsePageData<${BusinessName}VO[]>>({
        url: '/${moduleName}/${businessName}/list',
        method: 'get',
        params: query
    });
};

/**
 * 查询${functionName}详细
 * @param ${pkColumn.javaField}
 */
export function getSys${BusinessName}Api(${pkColumn.javaField}: string | number) {
    return request<ApiResponseData<${BusinessName}VO>>({
        url: '/${moduleName}/${businessName}/' + ${pkColumn.javaField},
        method: "get"
    })
}

/**
 * 新增${functionName}
 * @param data
 */
export function addSys${BusinessName}Api(data: ${BusinessName}Form) {
    return request<ApiResponseData<null>>({
        url: '/${moduleName}/${businessName}',
        method: "post",
        data
    })
}

/**
 * 修改${functionName}
 * @param data
 */
export function updateSys${BusinessName}Api(data: ${BusinessName}Form) {
    return request<ApiResponseData<null>>({
        url: '/${moduleName}/${businessName}',
        method: "put",
        data
    })
}

/**
 * 删除${functionName}
 * @param ${pkColumn.javaField}
 */
export function delSys${BusinessName}Api(${pkColumn.javaField}: string | number | Array<string | number>) {
    return request<ApiResponseData<null>>({
        url: '/${moduleName}/${businessName}/' + ${pkColumn.javaField},
        method: "delete"
    })
}
