<script lang="ts" setup>
import type { ${BusinessName}Form } from "@@/apis/${moduleName}/${businessName}/types.ts"
import type { PaginationData } from "@@/composables/usePagination.ts"
import DictTag from "@@/components/DictTag/index.vue"
import { useDevice } from "@@/composables/useDevice.ts"
#if(${dicts} != '')
import { useDict } from "@@/composables/useDict.ts"
#end
import { formatDateTime } from "@@/utils"
import { checkPermission } from "@@/utils/permission"
import { CirclePlus, RefreshRight } from "@element-plus/icons-vue"
import { ref } from "vue"

const emit = defineEmits<EmitEvents>()
/**
 * defineModel
 */
// #region defineModel
const tableData = defineModel<${BusinessName}Form[]>("tableData", { required: true })
const paginationData = defineModel<PaginationData>("paginationData", { required: true })
const loading = defineModel<boolean>("loading", { required: true })
// #endregion

/**
 * EmitEvents
 */
// #region EmitEvents
export interface EmitEvents {
  openAddDialog: []
  handleDelete: [rows: ${BusinessName}Form[]]
  handleExport: []
  handleSizeChange: [val: number]
  handleCurrentChange: [val: number]
  getTableData: []
}
const openAddDialog = () => emit("openAddDialog")
const handleDelete = (rows: ${BusinessName}Form[]) => emit("handleDelete", rows)
const handleExport = () => emit("handleExport")
const handleSizeChange = (val: number) => emit("handleSizeChange", val)
const handleCurrentChange = (val: number) => emit("handleCurrentChange", val)
const getTableData = () => emit("getTableData")
// #endregion

const { isMobile } = useDevice()
#if(${dicts} != '')
    #set($dictsNoSymbol=$dicts.replace("'", ""))
const { ${dictsNoSymbol} } = toRefs<any>(useDict(${dicts}))
#end

const selectedRows = ref<${BusinessName}Form[]>([])

const handleSelectionChange = (val: ${BusinessName}Form[]) => (selectedRows.value = val)
</script>

<template>
  <el-card v-loading="loading" shadow="never">
    <div class="toolbar-wrapper">
      <div :style="isMobile ? 'display:flex; gap: 10px; flex-wrap: wrap;' : ''">
        <el-button
          type="primary"
          :icon="CirclePlus"
          v-hasPermi="['${moduleName}:${businessName}:add']"
          @click="openAddDialog()"
        >
          新增
        </el-button>
        <el-button
          type="danger" plain icon="Delete"
          :disabled="!selectedRows.length"
          v-hasPermi="['${moduleName}:${businessName}:remove']"
          @click="handleDelete(selectedRows)"
        >
          批量删除
        </el-button>
        <el-button
          type="warning" plain icon="Download"
          v-hasPermi="['${moduleName}:${businessName}:export']"
          @click="handleExport()"
        >
          导出
        </el-button>
      </div>
      <div>
        <el-tooltip content="刷新当前页">
          <el-button type="primary" :icon="RefreshRight" circle @click="() => getTableData()" />
        </el-tooltip>
      </div>
    </div>
    <div class="table-wrapper">
      <el-table :data="tableData" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="50" align="center" />
#foreach($column in $columns)
#set($javaField=$column.javaField)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($column.pk)
        <el-table-column prop="${javaField}" label="${comment}" align="center" v-if="${column.list}" />
#elseif($column.list && $column.htmlType == "datetime")
        <el-table-column prop="${javaField}" label="${comment}" align="center" width="180">
          <template #default="scope">
            <span>{{ formatDateTime(scope.row.${javaField}) }}</span>
          </template>
        </el-table-column>
#elseif($column.list && $column.htmlType == "imageUpload")
        <el-table-column prop="${javaField}Url" label="${comment}" align="center" width="100">
          <template #default="scope">
            <ImagePreview :src="scope.row.${javaField}Url" :width="50" :height="50"/>
          </template>
        </el-table-column>
#elseif($column.list && $column.dictType && "" != $column.dictType)
        <el-table-column prop="${javaField}" label="${comment}" align="center">
          <template #default="scope">
#if($column.htmlType == "checkbox")
            <DictTag :options="${column.dictType}" :value="scope.row.${javaField} ? scope.row.${javaField}.split(',') : []"/>
#else
            <DictTag :options="${column.dictType}" :value="scope.row.${javaField}"/>
#end
          </template>
        </el-table-column>
#elseif($column.list && "" != $javaField)
        <el-table-column prop="${javaField}" label="${comment}" align="center" />
#end
#end
        <el-table-column fixed="right" label="操作" :width="isMobile ? 100 : 130" align="center">
          <template #default="scope">
            <slot name="operation" :scope="scope" />
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pager-wrapper">
      <el-pagination
        background
        :layout="paginationData.layout"
        :page-sizes="paginationData.pageSizes"
        :total="paginationData.total"
        :page-size="paginationData.pageSize"
        :current-page="paginationData.currentPage"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
  </el-card>
</template>

<style lang="scss" scoped>
.toolbar-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.table-wrapper {
  margin-bottom: 20px;
}

.pager-wrapper {
  display: flex;
  justify-content: flex-end;
}
</style>
